

 <div class="ca-right">
   <div class="month-year">
     <a class="fa fa-chevron-left" (click)="prevMonth()"></a>
        {{ _monthYear }}
     <a class="fa fa-chevron-right" (click)="nextMonth()"></a>
   </div>
   <hr class="divLine">

   <div class="calendar">
      <ul class="weekdays">
          <li *ngFor="let weekdays of weekdayName()">
            {{ weekdays }}
          </li>
      </ul>

      <ul class="appointments__list" *ngFor="let days of _weeks">
            <ng-container *ngFor="let day of days">
              <li class=" ">
                  <span class="calendar__day disabled" *ngIf="!isSelectedMonth(day.mDate)">
                      <span>{{ day.mDate.date() | number: '2.' }}</span>
                  </span>
                  <span class="calendar__day" *ngIf="isSelectedMonth(day.mDate)">
                    <span class=""
                    (click)="selectDate(day)"
                    [ngClass]="{ today: day.selectDate }"
                    [class.has-event]="day.hasevent"
                 >
                      {{ day.mDate.date() | number: '2.' }}
                    </span>
                  </span>
              </li>
            </ng-container>
      </ul>
    </div>
 </div>

