
      <div class="ca-left">
          <div class="current">
            <h1 class="current-day">20</h1>
            <span class="current-day-2">wednesday</span>
          </div>
            <div class="event">
              <div class="current-events">
                <h3>Current Events</h3>
                <ul>
                  <li>Eventos atual</li>
                </ul>
              </div>

              <form class="event-form">
                <input  type="text" placeholder="Create on Event" id="appointment-input">
                <span> <button id="appointment-submit">+</button> </span>

              </form>
          </div>
        </div>
