/* You can add global styles to this file, and also import other style files */


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

:root {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background:#E5E5E5 !important;
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
  width: 0px;
}
